table.table.table-hover.table-mc-blue.table-striped
  caption
    .exportToExcel
      a(href="/export") Export data to csv
  thead
    tr
      th Url
      th Strategy
      th Score
      th Date
  tbody
    each score in scores
      tr
        td= score.url
        td= score.strategy
        td= score.score
        td= moment(score.createdAt).format('MM/DD/YYYY')
