extends layout

block content
  h1 PageSpeed Scores

  table#scoresTable
    thead
      th Date
      th URL
      th Mobile
      th Desktop
    tbody
      tr
        td 11/1/2014
        td http://www.google.com
        td 55
        td 76
